<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
    <form action="" method="post">
        <p>보낸 주소 : <input type="text", size=60, name="sender"></p>
        <p>메일 제목 : <input type="text", size=60, name="title"></p>
        <p>메일 내용 : <input type="text", name='id_name', style="word-wrap:break-word;text-align:left; vertical-align:top; height:300px", size=60, maxlength=1000></p>
        <input type="submit" value="정보 넘기기">
    </form>
</body>
</html>